body{
    margin:0;
    font-family:Arial,sans-serif;
}

header{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}

section{
    padding:20px;
}

#about img{
    width:150px;
    height:150px;
    border-radius:50%;
}

h2{
    color:#333;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}